
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap'); */

:root[color-theme='light'] {
    --background: #fff;
    --font-color: #000;    
}

:root[color-theme='dark'] {
    --background: #222;
    --font-color: #ddd;
}

html {
    background: var(--background);
    color: var(--font-color);    
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

div.box {
    border: 1px solid;
    padding-left: 20px;
    padding-right: 20px;
}

#select {
    position: fixed;
    left: 0;
    right: 0;  
    padding-left: 20px;

    bottom: 0;
    background: gray;
}

#select_lang {    
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#select_topic {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#dummy {
    height: 60px;    
}

label, select {
    font-size: xx-large;
}

input {
    width: 20px;
    height: 20px;
}